<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwp.wkb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AtguiguApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".okhttp.activity.OKHttpActivity" />
        <activity android:name=".okhttp.activity.OKHttpListActivity" />
        <activity android:name=".json.activity.NativeJsonPraseActivity" />
        <activity android:name=".json.activity.GsonActivity" />
        <activity android:name=".json.activity.FastJsonActivity" />
        <activity android:name=".xutils3.XUtils3MainActivity" />
        <activity android:name=".xutils3.annotation.FragmentXUtils3Activity" />
        <activity android:name=".xutils3.net.XUtils3NetActivity" />
        <activity android:name=".afinal.AfinalActivity" />
        <activity android:name=".volley.VolleyActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".eventbus.EventBusSendActivity" />
        <activity android:name=".butterknife.ButterknifeActivity" />
        <activity android:name=".imageloader.acitvity.ImageLoaderActivity" />
        <activity android:name=".imageloader.acitvity.ImageloaderListviewActivity" />
        <activity android:name=".imageloader.acitvity.ImageloaderGridviewActivity" />
        <activity android:name=".imageloader.acitvity.ImageloaderViewpagerActivity" />
        <activity android:name=".picasso.activity.PicassoActivity" />
        <activity android:name=".picasso.activity.PicassoListviewActivity" />
        <activity android:name=".picasso.activity.PicassoTransfromationsActivity" />
        <activity android:name=".recyclervview.RecyclerViewActivity" />
        <activity android:name=".glide.activity.GlideActivity" />
        <activity android:name=".glide.activity.GlideBaseActivity" />
        <activity android:name=".glide.activity.GlideRecyclerviewActivity" />
        <activity android:name=".glide.activity.GlideTranformationsActivity" />
        <activity android:name=".fresco.FrescoActivity" />
        <activity android:name=".fresco.FrescoSpimgActivity" />
        <activity android:name=".fresco.FrescoCropActivity" />
        <activity android:name=".fresco.FrescoCircleAndCornerActivity" />
        <activity android:name=".fresco.FrescoJpegActivity" />
        <activity android:name=".fresco.FrescoGifAcitivity" />
        <activity android:name=".fresco.FrescoMultiActivity" />
        <activity android:name=".fresco.FrescoListenerActivity" />
        <activity android:name=".fresco.FrescoResizeActivity" />
        <activity android:name=".fresco.FrescoModifyActivity" />
        <activity android:name=".fresco.FrescoAutoSizeActivity"></activity>
        <activity android:name=".android_pulltorefresh.PullToRefreshMainActivity"/>
        <activity android:name=".android_pulltorefresh.PullToRefreshListActivity"/>
        <activity android:name=".android_pulltorefresh.PullToRefreshGridActivity"/>
        <activity android:name=".android_pulltorefresh.PullToRefreshListFragmentActivity"/>
        <activity android:name=".android_pulltorefresh.PullToRefreshListInViewPagerActivity"/>
        <activity android:name=".android_pulltorefresh.PullToRefreshViewPagerActivity"/>
        <activity android:name=".android_pulltorefresh.PullToRefreshWebViewActivity"/>
        <activity android:name=".universalvideoview.UniversalVideoViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>

        <activity android:name=".other.TabMainActivity"/>
        <activity android:name=".other.TabTopActivity"/>
        <activity android:name=".other.ImgviewActivity"/>
        <activity android:name=".other.WebViewActivity"/>
        <activity android:name=".other.DateActivity"/>
        <activity android:name=".other.CalendarActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="jp.app" android:pathPrefix="/openwith"/>
            </intent-filter>
        </activity>
    </application>

</manifest>